<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - ProjectScorte</title>
    <!--comentário html-->
    <!--insira o bootstrap aqui!-->
    <link rel="stylesheet"  href="{{url_for('static',filename='css/bootstrap.css')}}">
</head>
<body>
   <form>
      email: <input type="text" name="email"><p></p>
      senha: <input type="password" name="senha">
             <input type="submit" value="teste">


   </form>

    
</body>
</html>